@import url("normalize.css");

* {
	box-sizing: border-box;
}


body { 
	font-family: 'Space Mono', monospace;
	width:100%;
	padding: 60px 5% 30px 5%;
	text-align: left;
	background-color: white;
	color: black;
}




h1{
	padding-left: 90px;
	padding-right: 90px;
	font-size: 30px;
	font-family: 'Space Mono', monospace;
}

h2{
	display: none;

}


figure { 
	max-width: 45%;
	float: right;
}

img {
	max-width: 100%;
	height: auto;
	margin: 5px;
	border: 1px dashed #bababa;
}

figcaption {  
	font-family: 'Space Mono', monospace;
	font-size: 15px;
	text-align: center;
	color:#909090;
	line-height: 25px;
}

p.print {

	width: 90%;
	padding: 15px;
	margin: 30px;
	font-size:15px; 
	font-family: 'Space Mono', monospace;
	color: white;
	text-align: center;
	text-decoration: none; 
}



p.intro {

	font-weight: bold;
	font-size: 18px;
	color: blue;
	font-family: 'Space Mono', monospace;

}





p.note {

	width: 18%;
	padding: 10px;
	margin: 12px;
	font-size: 15px;
	float: left;
	color:#909090;
}


p {
	padding-left: 90px;
	padding-right: 90px;
	font-family: 'Space Mono', monospace;
	font-size: 17px;
	line-height: 26px;
}


.clicked{
	float: left;
}


a{
	text-decoration: underline;
	text-align: center;
	font-family: 'Space Mono', monospace;
	color:#909090;
}



nav {
	bottom: 0;
	right: 0;
	left: 0;
	position: fixed;
	width: 100%;
	background-color: blue;
	padding: 0.5rem 1.25rem 1.25rem 1.25rem;
	margin: 0;
	color: #ffffff;
	text-align: center;
}

nav .copyright {
	display: inline-block;
	padding: 0.75rem 0.5rem 0 0.5rem;
}

nav button {
	padding: 0.75rem 0.5rem 0 0.5rem;
}

@media screen {
	.urlprint {
		display : none;
	}
}

button{
	background-color: blue;
	font-size: 15px;
	color: white;
	border: black;
	text-decoration:underline;
	font-family: 'Space Mono', monospace;
	cursor:pointer;
	display: inline-block;
}

/* MOBILE AND SMALL DEVICES */
@media screen and (max-width: 768px) {

	body {
		width: 100%;
		padding: 0 8px 0 8px;
	}

	h1 {
		font-size: 24px;
		padding-left: 0;
		padding-right: 0;		
	}

	p {
		padding-left: 0;
		padding-right: 0;
		font-size: 15px	
		line-height: 18px;
	}


	p.note {

	width: 45%;
	font-size: 13px;
	line-height: 18px;
	padding: 4px;
	margin: 4px;
	}


	p.intro {

	font-size: 18px;
	}



	button{
	font-size: 13px;
	
	}


	figure { 
	max-width: 100%;
	float: right;
	}

	nav {

		padding: 0 0.75rem 0.75rem 0.75rem;
		font-size: 13px;
	}
	

}

/* TABLET AND MEDIUM DEVICES */
@media screen and (min-width: 769px)  and (max-width: 1100px) {

	nav {

		padding: 0.25rem 1rem 1rem 1rem;
	}


	p.note {

	width: 25%;
	font-size: 15px;
	line-height: 20px;
	padding: 0;
	margin: 8px;
	}